/** {
  outline: 1px solid red;
}*/


html, body {
  min-height: 100%;
}

.title {
  font-family: 'Oleo Script', cursive; Arial, sans-serif;
  color: white;
  font-size: 4em;
  text-align: center;
}

body {
  font-family: sans-serif;
  height: 100%;
  background: linear-gradient(#928DAB, #1F1C2C);
}

.container {
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.items-container {
  float: left;
  max-width: 100%;
  padding: 20px;
}

.item-container {
  float: left;
  width: 325px;
  height: 425px;
  margin: 15px;
  margin-bottom: 30px;
  color: #bdc3c7;
}

.cart-container {
  float: left;
  text-align: center;
  padding: 20px;
}

#cart-contents {
  color: #ecf0f1;
  font-size: 1.5em;
}


.item-price-quantity {
  text-align: center;
}

.item-price {
  font-size: 25px;
  font-weight: bold;
}

.item-quantity {
  width: 30px;
}

.options-container {
  text-align: center;
}

.heavy-text {
  font-weight: bold;
}

.hide-content {
  display: none;
}

img {
  border-radius: 50%;
  border: 4px solid #2980b9;
  width: 300px;
  max-width: 100%;
  -webkit-box-shadow: 32px 38px 35px -10px rgba(0,0,0,0.75);
}

.item-thumbnail {
  text-align: center;
}

.item-thumbnail, .img, .item-price, .item-price-quantity, .item-quantity {
  margin-bottom: 15px;
}

.item-price {
  margin-right: 20px;
}

.item-quantity {
  width: 40px;
  color: black;
  margin-left: 5px;
}

.modal-title {
  text-align: center;
}
