/** {
  outline: 1px solid red;
}*/

html, body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  /*max-width: 100%;*/
  margin-top: 30px;
}

.items-container {
  background-color: lightblue;
  float: left;
  max-width: 100%;
  padding: 20px;
}

.item-container {
  float: left;
  width: 325px;
  height: 425px;
  margin: 15px;
  border: 1px solid gray;
  margin-bottom: 30px;
}

.cart-container {
  background-color: orange;
  float: left;
  padding: 20px;
}

.item-price-quantity {
  text-align: center;
}

.item-price {
  font-size: 25px;
  font-weight: bold;
}

.item-quantity {
  width: 30px;
}

.options-container {
  text-align: center;
}

.heavy-text {
  font-weight: bold;
}

.hide-content {
  display: none;
}

img {
  border-radius: 50%;
  width: 300px;
  max-width: 100%;
}

/*.clearfix {
  overflow: auto;
}*/